{% extends 'main.html' %}

{% block content %}

{% load static %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Doctors</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active"></li>
            </ol>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Registered Doctors
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Institution</th>
                                <th>Phone No.</th>
                                <th>E-Mail</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Institution</th>
                                <th>Phone No.</th>
                                <th>E-Mail</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for doctor in doctors %}
                            <tr>
                                <th>{{doctor.id}}</th>
                                <th><a href="{{doctor.id}}">{{doctor.name}}</a></th>
                                <th>{{doctor.institution}}</th>
                                <th>{{doctor.phone_num}}</th>
                                <th>{{doctor.email}}</th>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <a href="{% url 'adddoctor' %}">
                <button type="submit" class="btn btn-primary float-start">Add Doctor</button>
            </a>
        </div>
        
    </main>
</div>
{% endblock content %}