{% extends 'main.html' %}

{% block content %}
{% load static %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Patients</h1>
            <div class="float-end">
                <label for="">Toggle archived patients</label><input onclick="toggleArchivedPatients()" id="checkArchived" type="checkbox" class="float-end">
            </div>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active"></li>
            </ol>
            
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Assigned Patients
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>ID</th>
                                <th>Phone No.</th>
                                <th>E-Mail</th>
                                <th>Birth Date</th>
                            </tr>
                        </thead>
                        <tfoot>
                            
                            <tr>
                                <th>Name</th>
                                <th>ID</th>
                                <th>Phone No.</th>
                                <th>E-Mail</th>
                                <th>Birth Date</th>
                            </tr>
                            
                        </tfoot>
                        <tbody>
                            {% for patient in patients %}
                            {% if patient.is_archived %}
                            <tr style="color: red;" id="archived" hidden>
                                {% if request.session.role == 'doctor' or request.session.role == 'admin' %}
                                <th><a href="{{patient.id}}">{{patient.patient_name}}</a></th>
                                {% else %}
                                <th>{{patient.patient_name}}</th>
                                {% endif %}
                                <th>{{patient.id}}</th>
                                <th>{{patient.phone_num}}</th>
                                <th>{{patient.email}}</th>
                                <th>{{patient.birth_date}}</th>
                            </tr>
                            {% else %}
                            <tr id="notArchived">
                                {% if request.session.role == 'doctor' or request.session.role == 'admin' %}
                                <th><a href="{{patient.id}}">{{patient.patient_name}}</a></th>
                                {% else %}
                                <th>{{patient.patient_name}}</th>
                                {% endif %}
                                <th>{{patient.id}}</th>
                                <th>{{patient.phone_num}}</th>
                                <th>{{patient.email}}</th>
                                <th>{{patient.birth_date}}</th>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
            {% if request.session.role == 'doctor' %}
            <a href="{% url 'addpatient' %}">
                <button onclick="" type="submit" class="btn btn-primary">Add Patient</button>
            </a>
            {% endif %}
        </div>
        
    </main>
</div>
    
{% endblock content %}