{% extends 'main.html' %}

{% block content %}

{% load static %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Patient View</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active"></li>
            </ol>
            <div class="row px-2">
                <div class="card col-md-7 mb-4" style="margin-right: 15px;"> 
                    <div class="card-header row">
                        <!-- <i class="fas fa-user me-1""></i> -->
                        {{patient.patient_name}}
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-6">Full Name</dt>
                            <dd class="col-6">{{patient.patient_name}}</dd>
                            <dt class="col-6">E-Mail</dt>
                            <dd class="col-6">{{patient.email}}</dd>
                            {% if request.session.role == 'admin' %}
                            <dt class="col-6">Username</dt>
                            <dd class="col-6">{{patient.username}}</dd>
                            <dt class="col-6">Password</dt>
                            <dd class="col-6">{{patient.password}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <i><a href="{% url 'newpass' patient.id patient.role %}">Generate New Password</a></i></dd>
                            {% endif %}
                            <dt class="col-6">Assigned Doctor</dt>
                            <dd class="col-6">{{patient.assigned_doctor}}</dd>
                            <dt class="col-6">Phone No.</dt>
                            <dd class="col-6">{{patient.phone_num}}</dd>
                            <dt class="col-6">Date of Birth</dt>
                            <dd class="col-6">{{patient.birth_date}}</dd>
                            <dt class="col-6">Gender</dt>
                            <dd class="col-6">{{patient.gender}}</dd>
                            {% if patient.is_archived %}
                            <dt class="col-6">Status</dt>
                            <dd class="col-6" style="color: red;">Archived</dd>
                            {% endif %}
                            <dt></dt>
                            <dd>
                            
                        </dd>
                        </dl>
                    </div>
                </div>
                
                <div class="card col-md-4 mb-4 ml-4 d-flex" style="max-height: 350px; overflow-y:auto;">
                    <div class="card-body">
                        <form id="submitCondition" action="" method="post" name="addCondition">
                            {% csrf_token %}
                            <div id="add">
                                {% if patient.is_archived or request.session.role == 'admin' %}
                                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Medical Conditions &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a style="pointer-events: none; color: grey;" onclick="toggleAddCondition()" href="#">Add</a></i></h6>
                                {% else %}
                                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Medical Conditions &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a onclick="toggleAddCondition()" href="#">Add</a></i></h6>
                                {% endif %}
                            </div>
                            <div id="confirm" hidden>
                                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Medical Conditions &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a onclick="toggleAddCondition()" href="#">Cancel</a></i></h6>
                            </div>
                            <hr>
                            <div id="addInput"hidden >
                                <input id="newCondition" name="newCondition" type="text"><i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="javascript:$('submitCondition').submit();" name="newCondition" onclick="submitCondition()">Confirm</a></i>
                                <button hidden id="addCondition" name="addCondition" type="submit" class="btn btn-success"></button>
                            </div>
                            <hr hidden id="addHR">
                            {% if conditions %}
                            {% for condition in conditions %}
                            {% if patient.is_archived or request.session.role == 'admin' %}
                            <h6 id="id" class="">{{condition}}</h6><h6><a style="pointer-events: none; color: grey;" href="#">Remove</a></h6> 
                            {% else %}
                            <h6 id="id" class="">{{condition}}</h6><h6><a href="{% url 'deletecondition' condition patient.id %}">Remove</a></h6> 
                            {% endif %}
                            
                            <hr>
                            {% endfor %}
                            {% else %}
                            <h6>No Medical Conditions.</h6>
                            {% endif %}
                        </form>
                    </div>
                </div>
            
            </div>

            <div class="card mb-3"> 
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Reports
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Patient Name</th>
                                <th>Report Author</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Patient Name</th>
                                <th>Report Author</th>
                                <th>Date</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for report in reports %}
                            <tr>
                                <th>{{report.id}}</th>
                                <th>{{patient.patient_name}}</th>
                                <th>{{doctor}}</th>
                                <th>{{report.date}}</th>
                                {% if request.session.role == 'doctor' or request.session.role == 'admin' %}
                                <th><a href = "{% url 'report' report.id %}"><span class="fa fa-arrow-right fa-lg"></span></th>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% if request.session.role == 'doctor' and not patient.is_archived %}
            <div class="col-md-12">
                <a href="{% url 'classify' patient.id %}">
                    <button onclick="" type="submit" class="btn btn-primary">Generate Report</button>
                </a>
                <a href="{% url 'archive' patient.id %}" class="float-end px-2">
                    <button onclick="" type="submit" class="btn btn-danger">Archive Patient</button>
                </a>
            </div>
            {% elif request.session.role == 'admin'%}
            
            {% else %}
            <div class="col-md-12">
                <a href="{% url 'restore' patient.id %}">
                    <button onclick="" type="submit" class="btn btn-success">Restore Patient</button>
                </a>
                <a href="{% url 'deletepatient' patient.id %}" class="float-end">
                    <button onclick="" type="submit" class="btn btn-danger">Delete Patient</button>
                </a>
            </div>
            {% endif %}
        </div>
        
        
    </main>
</div>

{% endblock content %}