{% extends 'main.html' %}

{% block content %}

{% load static %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Report View</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active"></li>
            </ol>
            <div class="col-12"></div>
            <div class="card mb-4 col-6"> 
                <div class="card-header">
                    <i class="fas fa-user me-1"></i>
                    Report {{report.id}}
                </div>
                <div class="card-body">
                    <form action="" method="post" name="edit">
                        {% csrf_token %}
                        <dl class="row">
                            <dt class="col-6">Full Name</dt>
                            <dd id="pName" name="pName" class="col-6 ">{{patient.patient_name}}</dd>
                            <dd id="pNameE" style="display: none;" class="col-6"><input  type="text" name="pNameE" value="{{report.patient}}" required></dd>

                            <dt class="col-6">Report Author</dt>
                            <dd id="dName" name="dName" class="col-6 dName">{{doctor.name}}</dd>
                            <dd id="dNameE" style="display: none;" class="col-6"><input type="text" name="dNameE" value="{{report.doctor}}" required></dd>

                            <dt class="col-6">Date</dt>
                            <dd id="date" name="date" class="col-6 date">{{report.date}}</dd>
                            
                            <dt class="col-6">Notes</dt>
                            <dd id="notes" class="col-6 notes" name="notes">{{report.notes|safe}}</dd>
    

                            <dd id="notesE" style="display: none;">
                            <textarea id="tiny" type="text" name="notesE" required>{{report.notes|safe}}</textarea></dd>

                            <dt class="col-6">Classification</dt>
                            <dd id="classification" class="col-6 classification" name="classification">{{report.classification}}</dd>
                            <dd id="classificationE" style="display: none;" class="col-6"><input type="text" name="classificationE" value="{{report.classification}}" required></dd>
                            
                            <dt id="scan" class="col-6 "><img src="/media/scans/{{report.image}}" alt="scan" height="400" width="400"></dt>
                            <dt class="col-6"></dt>
                            <dt id="editSubmit" style="display: none;" class="col-6"><input type="submit" name="edit" id=""></dt>

                        </dl>
                    </form>
                    <button onclick="toggleEditReport()"><i class="fas fa-edit "></i></button>
                </div>
            </div>
            <div class="col-12"></div>
        </div>
        <div class="col-md-12">
        </div>
        
        <div class="col-md-12 mt-0">
            {% if request.session.role == 'admin' or request.session.role == 'doctor'%}
            <a href="{% url 'deletereport' report.id %}">
                <button class="btn btn-danger">Delete Report</button>
            </a>
            {% endif %}
            <a href="{% url 'pdf' report.id %}">
                <button class="btn btn-success">Download PDF</button>
            </a>
        </div>
    </main>
    
</div>
{% endblock content %}