{% extends 'main.html' %}

{% block content %}

{% load static %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Patient View</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active"></li>
            </ol>
            <div class="card mb-4"> 
                <div class="card-header">
                    <i class="fas fa-user me-1"></i>
                    {{patient.patient_name}}
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-6">Full Name</dt>
                        <dd class="col-6">{{patient.patient_name}}</dd>
                        <dt class="col-6">Username</dt>
                        <dd class="col-6">{{patient.username}}</dd>
                        <dt class="col-6">Assigned Doctor</dt>
                        <dd class="col-6">{{patient.assigned_doctor}}</dd>
                        <dt class="col-6">Phone No.</dt>
                        <dd class="col-6">{{patient.phone_num}}</dd>
                        <dt class="col-6">Date of Birth</dt>
                        <dd class="col-6">{{patient.birth_date}}</dd>
                    </dl>
                </div>
            </div>
            <div class="card mb-4"> 
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Reports
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Patient Name</th>
                                <th>Report Author</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Patient Name</th>
                                <th>Report Author</th>
                                <th>Date</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for report in reports %}
                            <tr>
                                <th>{{report.id}}</th>
                                <th>{{patient.patient_name}}</th>
                                <th>{{doctors.name}}</th>
                                <th>{{report.date}}</th>
                                {% if request.session.role == 'doctor' %}
                                <th><a href = "{% url 'report' report.id %}"><span class="fa fa-arrow-right fa-lg"></span></th>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% if request.session.role == 'doctor' %}
        <a href="{% url 'classify' patient.id %}">
            <button onclick="" type="submit" class="btn btn-primary">Generate Report</button>
        </a>
        {% endif %}
        <div class="col-md-2 mt-5">
            <a href="{% url 'deletepatient' patient.id %}">
                <button onclick="" type="submit" class="btn btn-danger">Archive Patient</button>
            </a>
        </div>
        {% if request.session.role == 'admin'%}
            <div class="row row-content">
                <form method="post">
                    {% csrf_token %}
                    <div class="col-md-5">
                        <button name="newpass" type="submit" class="btn btn-success">Generate New Password</button>
                    </div>
                    {% if 'newpass' in request.session %}
                    <div>
                        <button name="confirmpass" type="submit" class="btn btn-warning">Confirm password</button>
                    </div>
                    <div class="col-md-5">
                        <text class="passtext">{{request.session.newpass}}</text>
                    </div>
        {% endif %}
        </form>
    </div>
  </div>
    {% endif %}
                </main>
            </div>
        </div>

{% endblock content %}